# Server Configuration
PORT=3000
DATABASE_URL=postgresql://root:password123@localhost:5432/eventuellit
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004

# Host App Configuration
# Replace these with the production URLs of your micro-frontends
VITE_GENERATOR_URL=http://localhost:3001
VITE_RULESET_URL=http://localhost:3002
VITE_EPISODES_URL=http://localhost:3004

# Generator App Configuration
# Replace with the production URL of your NestJS backend
VITE_API_BASE_URL=http://localhost:3000
